.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-left .menu-icon {
  font-size: 20px;
  cursor: pointer;
}
.logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo i {
  font-size: 26px;
}

.header-center {
  display: flex;
  flex: 0 1 720px;
  margin: 0 40px;
}
.search-bar {
  display: flex;
  width: 100%;
}
.search-bar input {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 40px 0 0 40px;
  min-width: 50px;
}
.search-bar button {
  padding: 0 24px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #f8f8f8;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}

.header-right.auth-section {
  display: flex;
  align-items: center;
}

.auth-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #ddd; /* Borde sutil */
  color: #065fd4; /* Azul de Google/YouTube */
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #f2f8ff; /* Azul muy claro al pasar el ratón */
  border-color: #cce0ff;
}

.auth-button i {
  font-size: 20px;
}