<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña - MiTubo</title>
    
    <link rel="stylesheet" href="/styles/auth.css">
    
</head>
<body class="auth-body">

    <img src="../assets/favicon.svg" alt="Logo de MiTubo" class="header-logo">

    <div class="auth-box">
        <h1>¿Olvidaste tu contraseña?</h1>
        <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecerla.</p>
        <form>
            <input type="email" placeholder="Correo electrónico" required>
            <button type="submit">Enviar enlace</button>
        </form>
        <div class="form-links-group">
            <p><a href="login.html">Volver a Acceder</a></p>
            <p>¿No tienes una cuenta? <a href="signup.html">Crear cuenta</a></p>
        </div>
    </div>

</body>
</html>