<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceder - MiTubo</title>
    
    <link rel="stylesheet" href="/styles/auth.css">

</head>
<body class="auth-body">

    <img src="../assets/favicon.svg" alt="Logo de MiTubo" class="header-logo">

    <div class="auth-box">
        <h1>Acceder</h1>
        <p>Continuar a MiTubo</p>
        <form>
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Siguiente</button>
        </form>

        <div class="form-links-group">
            <p>¿No tienes una cuenta? <a href="signup.html">Crear cuenta</a></p>
            <p>¿Olvidaste tu contraseña? <a href="forgot-password.html">Cambiar contraseña</a></p>
        </div>
    </div>

</body>
</html>