<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta - MiTubo</title>
    
    <link rel="stylesheet" href="/styles/auth.css">
    
</head>
<body class="auth-body">

    <img src="../assets/favicon.svg" alt="Logo de MiTubo" class="header-logo">

    <div class="auth-box">
        <h1>Crear tu cuenta de MiTubo</h1>
        <form>
            <input type="text" placeholder="Nombre" required>
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <input type="password" placeholder="Confirmar contraseña" required>
            <button type="submit">Crear cuenta</button>
        </form>
        <p class="form-link">
            ¿Ya tienes una cuenta? <a href="login.html">Acceder</a>
        </p>
    </div>

     <script type="module" src="../pages/Signup.js"></script>
</body>
</html>